.switch{
  display: inline-block;
  vertical-align: middle;
  position: relative;
  background: #F15648;
  border: 1px solid #ddd;
  padding: 2px;
  small{
    display: block;
    width: 50%;
    height: 100%;
    background: #fff;
  }
}
.switch-default{
  width: 32px;
  height: 12px;
}